- tickets = concert.attendees.find { |t| t.user == user }
.btn-group
  - Tickets::STATUSES.each do |key, status|
    = link_to status.label, concert_tickets_path(concert.songkick_id, status: key), method: :patch, class: "btn btn-primary btn-xs #{tickets.try(:status) == status ? 'active' : ''}"
